<div class="posts-wrapper">
  <div class="post">
    <div class="post-body">
      <div class="image-wrap">
        <%= form_for @user, url: {action: "update"}, html: { multipart: true } do |f| %>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group text-center">
                  <%= current_user.alias %>
                  <br>
                  <%= image_tag current_user.avatar.large %>

                  <%= f.file_field :avatar %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
              </div>
            </div>
            <div class="form-group text-center">
              <%= f.submit "Обновить профиль", class: 'btn btn-success' %>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>