
<div class="row">
  <div class="col-xs-2" style="border:0px solid gray; text-align: center">
    <h3>  <%= @user.alias %></h3>
    <div style="padding-bottom:5px;">
       <%= image_tag @user.avatar.large , style:"max-width:100%;" unless @user.avatar.large.blank? %>
    </div>
    <div class="section" style="padding-bottom:20px;">
      <% if can? :update, @user %>
        <%= link_to "Изменить фото", edit_profile_path(@user[:id]), class: "btn btn-success" %>
      <% end %>
    </div>


  </div>

  <center><h1 style="margin:0 0 17px">Сыгранные игры</h1></center>

  <div class="table-responsive">
    <table class="table">
    <thead>
    <tr>
      <th class="success">Название игры</th>
      <th class="success">Потраченное время</th>
      <th class="success">Заработанные очки</th>
    </tr>
    </thead>

    <tbody>
    <% @user_games.each do |user_game| %>
        <tr>
          <td class="active"><%= user_game.game.title %></td>
          <td><%= Time.at(user_game.total_time).utc.strftime("%M:%S") if user_game.total_time %> минут</td>
          <td class="active"><%= user_game.total_score %></td>
        </tr>
    <% end %>
    </tbody>
  </table>

  </div>
</div>