<h2>Изменение данных <%= resource_name.to_s.humanize %></h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :alias, required: true %>
    <%= f.input :email, required: true, autofocus: true %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Ожидание подтверждения для: <%= resource.unconfirmed_email %></p>
    <% end %>

    <%= f.input :password, autocomplete: "off", hint: "Оставьте пустым, если не хотите изменять", required: false %>
    <%= f.input :password_confirmation, required: false %>
    <%= f.input :current_password, hint: "Нам нужен ваш текущий пароль для подтверждения изменений", required: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Обновить" %>
  </div>
<% end %>

