

<div class="registration-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <div class="log-in panel">
          <div class="panel-heading">
            <h2>Создайте аккаунт для игры</h2>
          </div>
          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <%= f.error_notification %>
              <div class="panel-body">
                <%= f.input :alias, required: true, autofocus: true, label: false, placeholder: 'Псевдоним', input_html: { class: 'input-lg' } %>
                <%= f.input :email, required: true, label: false, placeholder: 'Email', input_html: { class: 'input-lg' } %>
                <%= f.input :password, required: true, label: false, placeholder: 'Пароль', input_html: { class: 'input-lg' } %>
                <%= f.input :password_confirmation, required: true, label: false, placeholder: 'Повторите пароль', input_html: { class: 'input-lg' } %>
                <%= f.button :submit, "Зарегистрироваться", class: 'btn-lg btn-info btn-block' %>
                <%= render "devise/shared/links" %>
              </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>