<%- if controller_name != 'sessions' %>
  <%= link_to "Войти", new_session_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <%= link_to "Зарегистрироваться", new_registration_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <%= link_to "Забыли пароль?", new_password_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <%= link_to "Не получили инструкции по подтверждению?", new_confirmation_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <%= link_to "Не получили инструкции по разблокировке?", new_unlock_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.omniauthable? %>
    <%= link_to "#{image_tag("f.png", size: "20x20")} ".html_safe, user_facebook_omniauth_authorize_path %>
    <%= link_to "#{image_tag("g.png", size: "20x20")} ".html_safe, user_google_oauth2_omniauth_authorize_path %>
    <%= link_to "#{image_tag("v.png", size: "20x20")} ".html_safe, '#' %>
<% end -%>
