<div class="row">
  <div class="col-md-8 col-md-offset-2" style="text-align: justify">
    <h1 style="text-align: center; margin-bottom: 25px"><small>Тематики</small></h1>
    <% @themes.each do |theme| %>
      <%= link_to theme.name, theme_path(theme), class: "theme_btn btn btn-primary" %>
    <% end %>
  </div>
</div>