<div style="background-color: lightblue; border-radius: 10px;">
  <div style="border-radius: 10px; padding: 1px;">
    <h1 align="center"><%= @theme.name %></h1>
  </div>
</div>

<%= render 'games/games_table', games: @games %>