<%= form_for [user_answer], url: user_game_user_answers_path(user_game), html: {class: 'form-horizontal'} do |f| %>

    <div class="form-group <%= 'has-error' if user_answer.errors[:body].any? %>">
      <%= f.label 'Ответ на вопрос:', class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.text_field :body, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group <%= 'has-error' if user_answer.errors[:question].any? %>">
      <div class="col-sm-10">
        <%= f. hidden_field :question_id, value: question.id %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <%= f.submit 'Ответить', class: 'btn btn-primary' %>
      </div>
    </div>
<% end %>