rating = $("#best");
rating.empty();
<% @questions.each do |question| %>
element = $('<li><%= question.body %> (<%= question.question_bests.count %>)</li>');
rating.append(element);
<% end %>
element = $('<li><%= link_to "Свернуть", statistics_best_close_path, remote: true %></li>');
rating.append(element);