rating = $("#game");
rating.empty();
<% @games.each do |game| %>
element = $('<li><%= game.title %> (<%= game.user_games.count %>)</li>');
rating.append(element);
<% end %>
element = $('<li><%= link_to "Свернуть", statistics_count_close_path, remote: true %></li>');
rating.append(element);