rating = $("#rating");
rating.empty();
<% @games.each do |game| %>
element = $('<li><%= game.title %> (<%= game.rating %>)</li>');
rating.append(element);
<% end %>
element = $('<li><%= link_to "Свернуть", statistics_game_close_path, remote: true %></li>');
rating.append(element);