rating = $("#post");
rating.empty();
<% @posts.each do |post| %>
element = $('<li><%= post.title %> (<%= post.count %>)</li>');
rating.append(element);
<% end %>
element = $('<li><%= link_to "Свернуть", statistics_post_close_path, remote: true %></li>');
rating.append(element);