rating = $("#worst");
rating.empty();
<% @questions.each do |question| %>
element = $('<li><%= question.body %> (<%= question.question_worsts.count %>)</li>');
rating.append(element);
<% end %>
element = $('<li><%= link_to "Свернуть", statistics_worst_close_path, remote: true %></li>');
rating.append(element);