<div class="problem_with_registration">
  <h2>Забыли ваш пароль?</h2>

  <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email, required: true, autofocus: true, input_html: { class: 'input-lg' } %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Отправьте мне инструкции по смене пароля" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>