<div class="row">
  <div class="col-xs-4 item-photo">
    <%= image_tag @tournament.tournament_image_url, style:"max-width:100%;" unless @tournament.tournament_image.blank? %>
  </div>
  <div class="col-xs-5" style="border:0px solid gray">
    <h3><%= @tournament.title %></h3>
    <h6><small>Стоимость регистрации на турнир: 0 сом</small></h6>
    <div style="padding-bottom:5px;">
      <%= @tournament.description %>
    </div>
    <h3 style="margin-top:0px;">Количество игр: <%= @tournament.games.count %></h3>
      <%= link_to "Зарегистрироваться на турнир", tournament_path(@tournament), class: "btn btn-success" %>
      <%= link_to "Статистика турнира", tournament_stat_path(@tournament), class: "btn btn-info" %>
  </div>
</div>
<br><br><br>

<div class="row">
<hr>
<%  if @game %>
  <div class="col-xs-2 item-photo">
    <%= image_tag @game.game_image_url, style:"max-width:100%;" if @game.game_image_url %>
  </div>
  <div class="col-xs-5" style="border:0px solid gray">
    <h3><%= @game.title   %></h3>
    <h6><small>Начало турнирной игры: <%= @game.start_time %></small></h6>
    <div style="padding-bottom:5px;">
      <%= @game.desc.html_safe %>
    </div>
    <div style="padding-bottom:5px;">
      Количество вопросов: <%= @game.questions.count %>
    </div>
    <div style="padding-bottom:5px;">
      Время на первый тур:  <%= @game.stage_time(1) %> мин.
    </div>
    <div style="padding-bottom:5px;">
      Время на второй тур:  <%= @game.stage_time(2) %> мин.
    </div>
    <div style="padding-bottom:5px;">
      Время на игру: <%= @game.stage_time([1,2]) %> мин.
    </div>
    <div class="section" style="padding-bottom:20px;">
      <%= link_to "Начать Игру", user_games_path(game: @game), method: :post, class: "btn btn-success" if Time.current >= @game.start_time%>
    </div>
      <% if @start_time %>
        <h3>Начнется через:</h3>
        <div id="CDT"></div>
      <% end %>
  </div>
  <% end %>
</div>

<div class="row statistic">
  <div>
    
  </div>
</div>
<br><br><br>

<script>
  function CountdownTimer(elm,tl,mes){
   this.initialize.apply(this,arguments);
 }
 CountdownTimer.prototype={
   initialize:function(elm,tl,mes) {
    this.elem = document.getElementById(elm);
    this.tl = tl;
    this.mes = mes;
  },countDown:function(){
    var timer='';
    var today=new Date();
    var day=Math.floor((this.tl-today)/(24*60*60*1000));
    var hour=Math.floor(((this.tl-today)%(24*60*60*1000))/(60*60*1000));
    var min=Math.floor(((this.tl-today)%(24*60*60*1000))/(60*1000))%60;
    var sec=Math.floor(((this.tl-today)%(24*60*60*1000))/1000)%60%60;
    var me=this;

    if( ( this.tl - today ) > 0 ){
     timer += '<span class="number-wrapper"><div class="line"></div><span class="caption">Дней: </span><span class="number day">'+day+'</span></span>';
     timer += '<span class="number-wrapper"><div class="line"></div><span class="caption">Часов: </span><span class="number hour">'+hour+'</span></span>';
     timer += '<span class="number-wrapper"><div class="line"></div><span class="caption">Минут: </span><span class="number min">'+this.addZero(min)+'</span></span><span class="number-wrapper"><div class="line"></div><span class="caption">Секунд: </span><span class="number sec">'+this.addZero(sec)+'</span></span>';
     this.elem.innerHTML = timer;
     tid = setTimeout( function(){me.countDown();},10 );
   }else{
     this.elem.innerHTML = this.mes;
     return;
   }
 },addZero:function(num){ return ('0'+num).slice(-2); }
}
function CDT(){

 // Set countdown limit
 var tl = new Date("<%= @start_time.year if @start_time %>/<%= @start_time.month if @start_time %>/<%= @start_time.day if @start_time %> <%= @start_time.hour if @start_time %>:<%= @start_time.min if @start_time %>:<%= @start_time.sec if @start_time %>");

 // You can add time's up message here
 var timer = new CountdownTimer('CDT',tl,'<span class="number-wrapper"><div class="line"></div><span class="number end">Время вышло!</span></span>');
 timer.countDown();
}
window.onload=function(){
 CDT();
}
</script>

