 <table class="table">
<caption>Общие результаты</caption>
  <% @results.each do |user, score| %>
  <tr>
    <td><%= user %></td>
    <td><%= score %></td
  </tr>    
  <% end %>
</table>

 <% @tournament.games.each do |game| %>
 <table class="table">
  <caption><%= game.title if game.user_games.any? %></caption>
  <% game.user_games.each do |user_game| %>
  <tr>
    <td><%= user_game.user.alias if user_game.total_score%></td>
    <td><%= user_game.total_score %></td>
  </tr>
  <% end %>
  </table>
<% end %>