<div class="row">
  <div class="col-md-2">
    <div class="btn-group-vertical nav-buttons" id="level" >
      <% @levels.take(3).each do |level| %>
        <%= link_to level.name + ':', level_path(level), class: 'btn btn-primary btn-lg'%>
        <% level.games.where("paid = ? AND active = ?", true, true).sample(3).each do |game| %>
          <%= link_to game.title[0..32] + '...', game_path(game), class: 'btn btn-info', style: 'font-style: italic;' %>
        <% end %>
      <% end %>
    </div>
    <br>
    <br>
    <div class="btn-group-vertical nav-buttons" id="level-type">
      <% @level_types.each do |level| %>
      <%= link_to level.name + ':', level_path(level), class: 'btn btn-lg red' %>
        <% level.games.where(active: true).sample(3).each do |game| %>
          <%= link_to game.title[0..15] + '...', game_path(game), class: 'btn btn-danger', style: 'font-style: italic;' %>
        <% end %>
      <% end %>
      <br>
    </div>
    <h4>Лучшие игры: </h4>
    <div class="btn-group-vertical nav-buttons" id="level-best">
      <% count = 1 %>
      <% @best.each do |game| %>
          <%= link_to game.title, game_path(game), class: 'btn btn-info btn-info', id: "bestgame-#{count}" %>
          <% count+= 1 %>
      <% end %>
    </div>
    <br>
    <h4>Бесплатные игры:</h4>
    <div class="btn-group-vertical nav-buttons" id="free-games">
      <% count = 1 %>
      <% @free_games.sample(3).each do |free_game| %>
        <%= link_to free_game.title, game_path(free_game), class: 'btn btn-info', id: "freegame-#{count}" %>
        <% count+= 1 %>
      <% end %>
    </div>
  </div>

  <div class="col-md-8">
    <% if @tournament %>
    <div class="jumbotron new_jumbotron" style="text-align: center; background: url(<%= @tournament.tournament_image.url %>) 50% 50% no-repeat/cover;" id="tournament">
      <div id="blur" style="background: rgba(255, 255, 255, 0.5)">
        <h2><b><%= @tournament.title %></b></h2>
        <p>
          <%= @tournament.description.html_safe %>
        </p>

        <h3>Начало турнира:</h3>
          <p> <%= @tournament.start_time if @tournament.actual_game %> </p>
        <p><%= link_to 'Узнать больше', tournament_path(@tournament), class: 'btn btn-primary btn-lg' %></p>
      </div>
    </div>
    <% end %>
    <div class="news">
      <h2>Новости:</h2>
      <% @posts.each do |post| %>
          <div class="media" id="post-<%= count %>">
            <a class="pull-left" href="#">
              <%= image_tag post.logo, class: 'media-object', style: 'height: 64px;' %>
            </a>
            <div class="media-body">
              <h4 class="media-heading"><%= post.title %></h4>
              <%= post.body.split(" ").each_with_object("") {|x,ob| break ob unless (ob.length + " ".length + x.length <= 200);ob << (" " + x)}.strip.html_safe %>
                <%= link_to "...Читать далее", post_path(post) %>
              <p>
                <span class="label label-default"><%= post.created_at.strftime("%F") %></span>
              </p>
            </div>
          </div>
      <% end %>
    </div>
    <%= paginate @posts %>
  </div>

  <div class="col-md-2">
    <div class="nav-buttons">
      <% if current_or_guest_user.not_finished_game %>
          <%= render 'layouts/return_to_game_button' %>
      <% end %>
    </div>
    <div class="btn-group-vertical nav-buttons">
    <% @pages.each do |p| %>
    <%= link_to p.title, page_path(url: p.url), class: "btn btn-primary btn-info contentpage"%>
    <% end %>
    </div>
  </div>

</div>

<!-- Widget -->
  <div class="row-fb" style="width: 100%">
    <iframe id="facebook_widget" src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FProektKlassiki&tabs&width=500&height=214&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="500" height="214" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
  </div>

<script>

function displayTime() {
    var timer=document.getElementById('timer');
    var currentdate = new Date();
    var hours = currentdate.getHours();
    var minutes = currentdate.getMinutes();
    var seconds = currentdate.getSeconds();
    timer.innerHTML = hours + ':' + ("0" + minutes).slice(-2) + ':' +  ("0" + seconds).slice(-2);
  };

  setInterval(displayTime, 1000);

  
</script>
