<hgroup class="mb20">
  <h1>Результаты поиска</h1>
  <h2 class="lead"><%= @games.count + @posts.count + @users.count %><strong class="text-danger"></strong> - столько результатов было найдено при поиске <strong class="text-danger"><%= @search %></strong></h2>
</hgroup>

<section class="col-xs-12 col-sm-6 col-md-12">
  <% @games.each do |game| %>
  <article class="search-result row" style="margin-bottom: 20px;">
    <div class="col-xs-12 col-sm-12 col-md-3">
      <%= image_tag game.game_image_url, height: '180' unless game.game_image.blank? %>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-2">
      <ul class="meta-search">
        <li><i class="glyphicon glyphicon-education"></i> <span><%= game.level.name if game.level %></span></li>
        <li><i class="glyphicon glyphicon-tags"></i> <span><%= game.theme.name if game.theme %></span></li>
      </ul>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-7 excerpet">
      <h3><%= link_to game.try(:highlight).try(:title) ? game.highlight.title[0].html_safe : game.title, game_path(game.id) %></h3>
      <p><%= game.desc %></p>
    </div>
    <span class="clearfix borda"></span>
  </article>
   <div style="border-bottom: 1px solid #ccc; ">
   </div>
  <% end %>

  <% @posts.each do |post| %>
  <article class="search-result row">
    <div class="col-xs-12 col-sm-12 col-md-3">
      <%= image_tag post.logo_url, height: '180' unless post.logo.blank? %>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-2">
      <ul class="meta-search">
        <li><i class="glyphicon glyphicon-calendar"></i> <span><%= post.created_at.strftime("%F") %></span></li>
        <li><i class="glyphicon glyphicon-eye-open"></i> <span><%= post.count.to_s %></span></li>
      </ul>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-7">
      <h3><%= link_to post.try(:highlight).try(:title) ? post.highlight.title[0].html_safe : post.title, post_path(post.id) %></h3>
      <p>
        <%= post.body.html_safe.split(" ").each_with_object("") {|x,ob| break ob unless (ob.length + " ".length + x.length <= 200);ob << (" " + x)}.strip %>
        <%= link_to "...Читать далее", post_path(post) %>
      </p>
    </div>
    <span class="clearfix borda"></span>
  </article>
      <div style="border-bottom: 1px solid #ccc; ">
      </div>
  <% end %>

  <% @users.each do |user| %>
  <article class="search-result row">
    <div class="col-xs-12 col-sm-12 col-md-3" style="border-image-width: 20px">
      <%= image_tag user.avatar_url, height: '180' unless user.avatar.blank? %>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-2">
      <ul class="meta-search"></ul>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-7">
      <h3><%= link_to user.try(:highlight).try(:alias) ? user.highlight.alias[0].html_safe : user.alias, profile_path(user.id) %></h3>
    </div>
    <span class="clearfix border"></span>
  </article>
      <div style="border-bottom: 1px solid #ccc; ">
      </div>
  <% end %>
</section>