<div class="table-responsive" style="background-color: lightblue; border-radius: 10px;">
  <table class="table" id="games">
    <thead>
    <tr>
      <th>Название игры</th>
      <th>Описание игры</th>
      <th>Уровень</th>
      <th>Тематика</th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <% games.each do |game| %>
        <tr>
          <td class="active"><%= link_to game.title, game_path(game), style: "color: #0066cc" %></td>
          <td class="active"><%= game.desc %></td>
          <td class="active"><%= game.level.name if game.level %></td>
          <td class="active"><%= game.theme.name if game.theme %></td>
          <td class="active"><%= image_tag game.game_image, height: '50' if game.game_image %></td>
        </tr>
    <% end %>
    </tbody>
  </table>

</div>

<%= paginate games %>