<table class="table table-hover" id="ranks">
  <thead>
    <tr>
      <th>Игра</th>
      <th>Игрок</th>
      <th>Результат</th>
      <th>Время, сек</th>
    </tr>
  </thead>
  <tbody>
    <% @first_results.each do |user_game| %>
      <tr>
        <td><%= user_game.game.title %></td>
        <td><%= user_game.registered %></td>
        <td><%= user_game.total_score %></td>
        <td><%= user_game.total_time.round(2) if user_game.total_time %></td>
      </tr>
    <% end %>
  </tbody>
</table>