<div class="row">
  <div class="col-xs-4 item-photo">
    <%= image_tag @game.game_image_url, style:"max-width:100%;" unless @game.game_image.blank? %>
  </div>
  <div class="col-xs-5" style="border:0px solid gray">
    <h3><%= @game.title %></h3>
    <h6><small><%= @game.theme.name if @game.theme %></small></h6>
    <% if current_user && current_user.role?(:admin) %>
      <h6><small>Рейтинг игры: <%= @game.rating %></small></h6>
    <% end %>
    <div style="padding-bottom:5px;">
        <%= @game.desc %>
    </div>
    <div style="padding-bottom:5px;">
      Количество вопросов: <%= @game.questions.count %>
    </div>
    <div style="padding-bottom:5px;">
      Время на первый тур:  <%= @game.stage_time(1) %> мин.
    </div>
    <div style="padding-bottom:5px;">
      Время на второй тур:  <%= @game.stage_time(2) %> мин.
    </div>
    <div style="padding-bottom:5px;">
      Время на игру: <%= @game.stage_time([1,2]) %> мин.
    </div>
    <h3 style="margin-top:0px;">0 сом</h3>
    <div class="section" style="padding-bottom:20px;">
      <% if current_or_guest_user.not_finished_game %>
        <%= render 'layouts/return_to_game_button' %>
      <% else %>
        <%= link_to "Начать Игру", user_games_path(game: @game), method: :post, class: "btn btn-success" %>
      <% end %>

      <%= link_to "Статистика", game_rank_path(@game), class: "btn btn-info" %>
    </div>
  </div>
</div>