<%= form_tag( user_game_save_statistic_anwers_path(game), game: game, id: 'form_for_statistic') do %>
  <div class="row panel panel-default">

    <div class="form-group">

      <div class="col-sm-10">
        <br>Оцените игру:<%= number_field_tag 'rating', step: 1, input_html: { min: 0, max: 10 } %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-10">
        Выберите вопрос, который вам понравился больше всего:
        <%= select_tag 'question_best', options_for_select(questions.map{ |u| [u.body, u.id] }), class: 'option-large' %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-10">
        Выберите вопрос, который вызвал наибольшее затруднение:
        <%= select_tag 'question_worst', options_for_select(questions.map{ |u| [u.body, u.id] }), class: 'option-large' %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-10">
        <%= submit_tag 'Оставить отзыв и покинуть игру', class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
<% end %>