<h1>Игра <%= @user_game.game.title %></h1>
<h1>Этап <%= @stage %> (Time: <b id="timer_out"><%= @time_out %></b>)</h1>

<% count = 1 %>

<ul class="nav nav-tabs">
  <% @questions.each do |question| %>
  <li>

    <% if @stage == 1 %>
      <a data-toggle="tab" href="#question<%= "#{count}" %>" style=<%= "color:#32CD32" unless @user_game.stage_1_questions_accessed?(question, @stage) %>> Вопрос #<%= "#{count}" %> </a>
    <% end %>

    <% if @stage == 2 %>
        <a data-toggle="tab" href="#question<%= "#{count}" %>" style=<%= "color:#32CD32" unless @user_game.stage_2_questions_accessed?(question, @stage) %>> Вопрос #<%= "#{count}" %> </a>
    <% end %>
  </li>
  <% count += 1 %>
  <% end %>
</ul>

<div class="tab-content">
  <% count = 1 %>
  <% @questions.each do |question| %>
      <div class="tab-pane" id="question<%= "#{count}"%>">
        <%= question.body.html_safe %>
          <% img_count = 1 %>
          <div class="image" style="text-align: center; width: 400px; margin: 0 auto;">
          <% question.images.each do |image| %>
             <%= link_to(image_tag(image.attachment.url(:std)), image.attachment.url, target: :_blank, id: "image-#{img_count}") %>
             <hr>
             <% img_count+= 1 %>
          <% end %>
        </div>

        <% count += 1 %>
        <br>

        <% if @user_game.stage_1_questions_accessed?(question, @stage) %>
          <%= render 'user_answers/form', user_answer: @user_answer, user_game: @user_game, question: question %>
        <% end %>

        <% if @user_game.stage_2_questions_accessed?(question, @stage)%>
          <%= render 'user_answers/form', user_answer: @user_answer, user_game: @user_game, question: question %>
        <% end %>
      </div>

  <% end %>

</div>

<br>

<h4><%= link_to 'Перейти к результатам', user_game_finish_stage_path(@user_game), method: :post,
        class:"btn btn-block btn-lg btn-info", id: "link", style: ("display: none; " if  @user_game.game.is_tournament_game?) %></h4>


<%= link_to 'Досрочно завершить игру', @user_game, method: :delete, class:"btn btn-block btn-lg btn-danger",
    data: { confirm: "Уверены ли вы, что хотите досрочно завершить игру \"#{@user_game.game.title}\"?
    В таком случае Вы не сможете вернуться в игру. Прогресс не будет сохранен." } %>


<script type="application/javascript">
    var interval = setInterval(count_second, 1000);
    var min = <%= @time_out_min %>;
    var sec = <%= @time_out_sec %>;
    var timer=document.getElementById('timer_out');

    function count_second() {
        sec = sec - 1;
        if (sec < 0) {
            min = min - 1;
            sec = 59;
        }

        timer.innerHTML = 0 + ':' + ("0" + min).slice(-2) + ':' +  ("0" + sec).slice(-2);

        if (min < 10) {
            timer.style.color = "red";
        }

        if (min < 0 ) {
            clearInterval(interval);
            timer.innerHTML = '0:00:00';
            timer.style.color = "red";
            document.getElementById('link').click();
        }
    };

</script>