<% unless @user_game.stage2_finish_time %>
    <h1>Time: <b id="timer_for_pause"><%= @time_for_pause %></b></h1>
<% end %>
Результат : <%= @user_game.total_score %> <br>
Время начала первого этапа: <%= @user_game.stage1_start_time.strftime("%H:%M  %D") %> <br>
Время окончания первого этапа: <%= @user_game.stage1_finish_time.strftime("%H:%M  %D") %> <br>
<% unless @user_game.stage2_finish_time %>
    <%= link_to 'Перейти ко второму этапу', user_game_begin_stage_path(@user_game), method: :post, class:"btn btn-block btn-lg btn-info", id: 'link' %>
    <%= link_to 'Досрочно завершить игру', @user_game, method: :delete, class:"btn btn-block btn-lg btn-danger",
        data: { confirm: "Уверены ли вы, что хотите досрочно завершить игру \"#{@user_game.game.title}\"?
        В таком случае Вы не сможете вернуться в игру. Прогресс не будет сохранен." } %>

<% end %>
<% if @user_game.stage2_finish_time %>
  Время начала второго этапа: <%= @user_game.stage2_start_time.strftime("%H:%M  %D") %> <br>
  Время окончания второго этапа: <%= @user_game.stage2_finish_time.strftime("%H:%M  %D") %> <br>
  Всего времени потрачено на игру: <%= Time.at(@user_game.total_time).utc.strftime("%M:%S") %>
  <br>
  <br>
  <%= form_tag( user_game_save_statistic_anwers_path(@user_game.game), game: @user_game.game, id: 'form_for_statistic') do %>
    <br>Оцените игру:<%= select_tag('rating', options_for_select(@number_of_rating)) %>
    <% @questions.each do |question| %>
      <% user_answer = @user_answers.find_by(question: question) %>
      <% panel = user_answer && user_answer.right? ? 'panel-success' : 'panel-danger' %>
      <div class=<%= panel %>>
        <div class="panel-heading">
          Вопрос: <%= question.about %><br>
          Ответ игрока: <%= user_answer.body if user_answer %><br>
          <% question.answers.each do |answer| %>
              Правильный ответ: <%= answer.body %><br>
          <% end %>
          Объяснение ответа: <%= question.answer_desc %><br>
          <div align="right">
            <label for="<%= question.id %>b">Отметьте понравившийся вопрос</label>
            <input type="radio" name="best" value="<%= question.id %>b" id="<%= question.id %>b">|
            <label for="<%= question.id %>w">Отметьте тяжелый вопрос</label>
            <input type="radio" name="worst" value="<%= question.id %>w" id="<%= question.id %>w">
          </div>
        </div>
      </div>
      <br>
    <% end %>
    <%= submit_tag 'Покинуть игру', class: 'btn btn-primary' %>
  <% end %>
<% end %>

<br>
<br>
<em><h6>Поделиться результатом с друзьями:</h6></em>
<%= social_share_button_tag(@user_game.total_score, :rel => "twipsy") %>
<br>
<br>

<script type="application/javascript">
    var interval = setInterval(count_second, 1000);
    var min = <%= @time_out_min %>;
    var sec = <%= @time_out_sec %>;
    var timer=document.getElementById('timer_for_pause');

    function count_second() {
        sec = sec - 1;
        if (sec < 0) {
            min = min - 1;
            sec = 59;
        }

        timer.innerHTML = 0 + ':' + ("0" + min).slice(-2) + ':' +  ("0" + sec).slice(-2);

        if (min < 5) {
            timer.style.color = "red";
        }

        if (min < 0 ) {
            clearInterval(interval);
            timer.innerHTML = '0:00:00';
            timer.style.color = "red";
            document.getElementById('link').click();
        }
    };

</script>