


<div class="login-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <div class="log-in panel">
          <div class="panel-heading">
            <h2>Войти</h2>
          </div>
          <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <%= f.error_notification %>
              <div class="panel-body">
                <%= f.input :email, required: true, autofocus: true, label: false, placeholder: 'Email', input_html: { class: 'input-lg' } %>
                <%= f.input :password, required: true, label: false, placeholder: 'Пароль', input_html: { class: 'input-lg' } %>
                <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
                <%= f.button :submit, "Войти", class: 'btn-lg btn-info btn-block' %>
                <%= render "devise/shared/links" %>
              </div>
          <% end %>
        </div>
      </div>
    </div>

  </div>

</div>
