<div style="background-color: lightblue; border-radius: 10px;">
  <div style="border-radius: 10px; padding: 1px;">
    <h1 align="center"><%= @level.name %></h1>
  </div>
  <div style="padding: 5px; background-color: white; border: 1px solid lightblue; border-radius: 10px;">
    <p><%= @level.description %></p>
  </div>
</div>

<%= render 'games/games_table', games: @games %>