<center><em><h1>ALL POSTS</h1></em></center>
<div class="row">

  <div class="">
    <div class="row">
      <% @posts.each do |post| %>
          <div class="col-sm-4 post-item">
            <div class="panel panel-default">
              <div class="panel-body" align="center">
                <h3><%= post.title %></h3>
                <h4><%= post.body %></h4>
                <% post.images.each do |image| %>
                    <%= image_tag image %>
                <% end %>
              </div></br>
              </div>
            </div>
          </div>

      <% end %>
    </div>
  </div>
</div>