
<h5><%= link_to "Главная", root_path %> >> <%= @post.title %></h5>

<h2 style="text-align: center"><%= @post.title %></h2>
<h4><%= @post.body.html_safe %></h4>
<% @post.images.each do |image| %>
    <div class="col-md-6 news_gallery"><%= image_tag image.large %></div>
<% end %>
<br><br><br>
Ссылка на полный фотоотчет:  <%= link_to @post.url, @post.url %>

<br><br><br>
<span class="glyphicon glyphicon-eye-open"></span> <%= @post.count.to_s+ " " + Russian.p(@post.count, "раз", "раза", "раз")  %>
<br><br><br>