@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootswatch/superhero/variables";
@import "bootswatch/superhero/bootswatch";
@import "social-share-button";
@import 'user_games';

.problem_with_registration{
  width: 350px;
  margin: 0 auto;
  input[type="email"] {
    width:310px;
  }
}
.news_gallery {
  margin-bottom: 30px;
  img {
    width: 100%;
    height: auto;
  }
}

.theme_btn{
  margin-bottom: 20px;
  border-radius: 22px;
  width: 150px;

}
.red{
  background: #8B0000;
  border: 1px solid #8B0000;
  color: white;
  font-size: 13pt;}

.item-photo{
  display:flex;
  justify-content:center;
  align-items:center;
  border-right:1px solid #f6f6f6;
}


.image {
  border-radius: 50%;
  margin-bottom: 5px;

}

.option-large {
  width: 250px !important;
}

$size: 17px;
.social-share-button {
  .ssb-icon {
    background-size: $size $size;
    height: $size;
    width: $size;
  }
}

.thumbnail{

}
.body {
  padding-top: 60px;
}
.login-bg {
  padding-top: 10em;
  padding-bottom: 35em;
  background-image: image-url('1.jpg');
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
.log-in{
  margin-left: auto;
  margin-right: auto;
  text-align:center;
  border: none;
}
.registration-bg {
  padding-top: 10em;
  padding-bottom: 15em;
  background-image: image-url('1.jpg');
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.row-fb{
  text-align: center;
}

.nav-buttons{
  min-width: 164px;
}

#blur{
  @extend .jumbotron
}

.container .new_jumbotron{
  padding: 0;
  border-radius: 10px 10px 15px 15px;
}

.container { margin-top: 20px; }
.mb20 { margin-bottom: 20px; }

hgroup { padding-left: 15px; border-bottom: 2px solid #ccc; }
hgroup h1 { font: 500 normal 1.625em "Roboto",Arial,Verdana,sans-serif; color: #2a3644; margin-top: 0; line-height: 1.15; }
hgroup h2.lead { font: normal normal 1.125em "Roboto",Arial,Verdana,sans-serif; color: #2a3644; margin: 0; padding-bottom: 10px; }

.search-result .thumbnail { border-radius: 0 !important; }
.search-result:first-child { margin-top: 0 !important; }
.search-result { margin-top: 20px; }
.search-result .col-md-2 { border-right: 1px dotted #ccc; min-height: 170px; }
.search-result ul { padding-left: 0 !important; list-style: none;  }
.search-result ul li { font: 400 normal .85em "Roboto",Arial,Verdana,sans-serif;  line-height: 30px; }
.search-result ul li i { padding-right: 5px; }
.search-result .col-md-7 { position: relative; }
.search-result h3 { font: 500 normal 1.375em "Roboto",Arial,Verdana,sans-serif; margin-top: 0 !important; margin-bottom: 10px !important; }
.search-result h3 > a, .search-result i { color: #248dc1 !important; }
.search-result p { font: normal normal 1.125em "Roboto",Arial,Verdana,sans-serif; }
.search-result span.plus { position: absolute; right: 0; top: 126px; }
.search-result span.plus a { background-color: #248dc1; padding: 5px 5px 3px 5px; }
.search-result span.plus a:hover { background-color: #414141; }
.search-result span.plus a i { color: #fff !important; }
.search-result span.border { display: block; width: 97%; margin: 0 15px; border-bottom: 1px dotted #ccc; }

#CDT{
  font-weight: 400;
}