<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="nav navbar-nav navbar-left">
        <li><%= image_tag "logo_2.png", style: "max-height: 40px; padding: 15px 10px 0 0;", id: 'logo' %></li>
      </div>
    <div class="navbar-header">
      <%= link_to 'Московские Классики', root_path, class: 'navbar-brand' %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <%= form_tag search_path, method: :get, class: 'navbar-form navbar-left', id: 'search_form' do |f| %>
          <%= text_field_tag :search, params[:search], type: 'text', class: 'form-control', placeholder: 'Поиск' %>
          <%= submit_tag "Найти", type: 'submit', class: 'btn btn-default', name: nil %>
      <% end %>
      <ul class="nav navbar-nav navbar-right">

        <% if current_or_guest_user == guest_user %>
            <li class="navbar-text">Привет, Гость!</li>
        <% end %>
        <li><%= link_to 'Тематики', themes_path %></li>
        <li><%= link_to 'Все игры', games_path %></li>
        <% if signed_in? %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="login_dropdown" role="button" aria-haspopup="true" aria-expanded="false">Аккаунт <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><%= link_to ("Личный кабинет"), profile_path(current_user.id) %></li>
                <li><%= link_to "Изменить данные", edit_user_registration_path %></li>
                <li role="separator" class="divider"></li>
                <li><%= link_to (t 'navbar.sign_out'), destroy_user_session_path, method: :delete %></li>
              </ul>
            </li>

            <li><%= link_to "Панель управления", admin_root_path if current_user.role?(:admin) %></li>
      <% else %>
            <li><%= link_to (t 'navbar.sign_up'), new_user_registration_path %></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Войти <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><%= link_to "#{image_tag("f.png", size: "20x20")} Facebook".html_safe, user_facebook_omniauth_authorize_path %></li>
                <li><%= link_to "#{image_tag("g.png", size: "20x20")} Google".html_safe, user_google_oauth2_omniauth_authorize_path %></li>
                <li><%= link_to "#{image_tag("v.png", size: "20x20")} Vk".html_safe, user_vkontakte_omniauth_authorize_path %></li>
                <li role="separator" class="divider"></li>
                <li id="login"><%= link_to "Обычный вход", new_user_session_path %></li>
              </ul>
            </li>
        <% end %>
      </ul><!-- /.login toolbar -->
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>