<% if current_or_guest_user.not_finished_game.stage1_finish_time && current_or_guest_user.not_finished_game.stage2_start_time.blank? %>
  <%= link_to "Вернуться в игру '#{current_or_guest_user.not_finished_game.game.title}'", user_game_results_path(current_or_guest_user.not_finished_game), class: 'btn btn-warning' %>
<% else %>
  <%= link_to "Вернуться в игру '#{current_or_guest_user.not_finished_game.game.title}'", user_game_play_path(current_or_guest_user.not_finished_game), class: 'btn btn-warning' %>
<% end %>