<!DOCTYPE html>
<html>
<head>
  <title>Klassiki</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <%= render 'layouts/navbar' %>
  <div class="container">
    <p><%= notice %></p>
    <p><%= alert %></p>
    <%= yield %>
  </div>
</body>
</html>
